<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mfizaralfian.tunarungufizar">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tunarungufizar">
        <activity android:name=".DataDua.TutorVideo.VideoTutorEnamActivity"></activity>
        <activity android:name=".DataDua.TutorVideo.VideoTutorLimaActivity" />
        <activity android:name=".DataDua.TutorVideo.VideoTutorEmpatActivity" />
        <activity android:name=".DataDua.TutorVideo.VideoTutorTigaActivity" />
        <activity android:name=".DataDua.TutorVideo.VideoTutorDuaActivity" />
        <activity android:name=".DataDua.TutorVideo.VideoTutorSatuActivity" />
        <activity android:name=".DataSatu.Tutorial.MateriTutorEnamActivity" />
        <activity android:name=".DataSatu.Tutorial.MateriTutorLimaActivity" />
        <activity android:name=".DataSatu.Tutorial.MateriTutorEmpatActivity" />
        <activity android:name=".DataSatu.Tutorial.MateriTutorTigaActivity" />
        <activity android:name=".DataSatu.Tutorial.MateriTutorDuaActivity" />
        <activity android:name=".DataSatu.Tutorial.MateriTutorSatuActivity" />
        <activity android:name=".DataSatu.Materi.MateriLimaActivity" />
        <activity android:name=".DataSatu.Materi.MateriEmpatActivity" />
        <activity android:name=".DataSatu.Materi.MateriTigaActivity" />
        <activity android:name=".DataSatu.Materi.MateriDuaActivity" />
        <activity android:name=".DataSatu.Materi.MateriSatuActivity" />
        <activity android:name=".DataDua.TutorialVideoLimactivity" />
        <activity android:name=".DataDua.TutorialVideoEmpatActivity" />
        <activity android:name=".DataDua.TutorialVideoTigaActivity" />
        <activity android:name=".DataDua.TutorialVideoDuaActivity" />
        <activity android:name=".TentanAplikasiActivity" />
        <activity android:name=".DataDua.DaftarVideoActivity" />
        <activity android:name=".DataDua.PlayVideoActivity" />
        <activity android:name=".Tutor.TutorSatuActivity" />
        <activity android:name=".DataDua.TutorialVideoSatuActivity" />
        <activity android:name=".DataSatu.TextSatuActivity" />
        <activity android:name=".IntroVideo.VideoFourActivity" />
        <activity android:name=".IntroVideo.VideoThreeActivity" />
        <activity android:name=".IntroVideo.VideoTwoTActivity" />
        <activity android:name=".IntroVideo.VideoOoeActivity" />
        <activity android:name=".SplashscreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>